* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.box {
  background-color: rgb(78, 200, 200);
  /* margin: 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 20px;
}
