* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.box {
  background-color: rgb(78, 200, 200);
  /* margin: 2px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 4em;
}

section {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  gap: 5px;
  /* justify-content: space-around; */
  /* align-content: space-around; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  justify-items: center;
  align-items: center;
  place-content: center;
}
